<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
<h1>Pictures:</h1><br>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="nf">
    <input type="submit">
</form>

{{range .}}
    <img src="/public/pics/{{.}}" width="400px" />
{{end}}

</body>
</html>
